## Mongo Lab

---


This notebook demonstrates basic functionality of MongoDB by way of the **pymongo** library.  As it's name implies, pymongo is the MongoDB library for Python, and its **documentation** can be found here: https://pymongo.readthedocs.io/en/stable/index.html

### Prerequisites

#### First, you must install the *pymongo* libary into your *python* environment by executing the following command in a *Terminal window*
-  python -m pip install pymongo[srv]

In [45]:
!python -m pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

#### Next, as with all Jupyter Notebooks, you need to **Import** the libaries that you'll be working with in the notebook.

### Exercise 1: Connecting to MongoDB

In [46]:
#1. Import MongoClient from pymongo.
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [47]:
#2. Connect to your local MongoDB instance (or a specified URL if using a remote database)
host_name = "localhost"
port = "27017"

atlas_cluster_name = ""
atlas_default_dbname = ""
atlas_user_name = ""
atlas_password = ""

In [48]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [49]:
#3. Print a list of databases in your MongoDB instance.
print("Databases:", client.list_database_names())

Databases: ['DS2002Final', 'ElijahKim_class', 'StoreProducts', '_class', 'anisha_class', 'api_project', 'blog', 'grace_class', 'jeremy_class', 'kaylasprincis_class', 'project', 'ronit_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'admin', 'local']

### Exercise 2: Creating and Using a Database

In [50]:
#1. Create a database called <yourname>_class
db_name = "ronit_class"

db = client[db_name]

In [51]:
#2. Print a list of collections in the database.
print("Collections:", db.list_collection_names())

Collections: ['students']

### Exercise 3: Creating a Collection and Inserting Documents

In [52]:
#1. Create a collection named students.
students = db.students

#2. Insert a single document into the students collection. Let it have 5 key value pairs
students.insert_one({'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'active'})

#3. Insert multiple documents into the students collection in one operation.
students.insert_many([
    {'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'},
    {'name': 'Mike', 'age': 23, 'major': 'Physics', 'grade': 'A', 'status': 'graduated'},
    {'name': 'Emma', 'age': 21, 'major': 'Biology', 'grade': 'B', 'status': 'active'},
    {'name': 'Alex', 'age': 24, 'major': 'Chemistry', 'grade': 'C+', 'status': 'active'}
])

InsertManyResult([ObjectId('65ff2c3517a1fc53f40ce768'), ObjectId('65ff2c3517a1fc53f40ce769'), ObjectId('65ff2c3517a1fc53f40ce76a'), ObjectId('65ff2c3517a1fc53f40ce76b')], acknowledged=True)

### Exercise 4: Querying Documents

In [53]:
#1. Perform a query to find all documents in the students collection.
print("All students:")
for student in students.find():
    print(student)

All students:
{'_id': ObjectId('65ff2c3517a1fc53f40ce767'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'active'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce768'), 'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce769'), 'name': 'Mike', 'age': 23, 'major': 'Physics', 'grade': 'A', 'status': 'graduated'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce76a'), 'name': 'Emma', 'age': 21, 'major': 'Biology', 'grade': 'B', 'status': 'active'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce76b'), 'name': 'Alex', 'age': 24, 'major': 'Chemistry', 'grade': 'C+', 'status': 'active'}

In [54]:
#2. Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl
print("Students with name Mary:")
for student in students.find({'name': 'Mary'}):
    print(student)

Students with name Mary:
{'_id': ObjectId('65ff2c3517a1fc53f40ce768'), 'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'}

### Exercise 5: Updating Documents

In [55]:
#1. Update a specific document in the students collection.
students.update_one({'name': 'Alex'}, {'$set': {'grade': 'B-'}})

#2. Update multiple documents based on a specific condition.
students.update_many({'grade': 'A'}, {'$set': {'status': 'honors'}})

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711221813, 77), 't': 391}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711221813, 77), 'signature': {'hash': b'M\xdc\x85\x15_\xea\x1e\xaf\xf4\rA\x19\x83&\xc5U\x1f<\xab$', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711221813, 77), 'updatedExisting': True}, acknowledged=True)

In [56]:
#Print students collection after updates
print("All students after updates:")
for student in students.find():
    print(student)

All students after updates:
{'_id': ObjectId('65ff2c3517a1fc53f40ce767'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'honors'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce768'), 'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce769'), 'name': 'Mike', 'age': 23, 'major': 'Physics', 'grade': 'A', 'status': 'honors'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce76a'), 'name': 'Emma', 'age': 21, 'major': 'Biology', 'grade': 'B', 'status': 'active'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce76b'), 'name': 'Alex', 'age': 24, 'major': 'Chemistry', 'grade': 'B-', 'status': 'active'}

### Exercise 6: Deleting Documents

In [57]:
#1. Delete a specific document from the students collection.
students.delete_one({'name': 'Mike'})

#2. Delete multiple documents based on a specific condition.
students.delete_many({'grade': 'B'})

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711221814, 8), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711221814, 10), 'signature': {'hash': b'[>\xfa\xfc\x82\xec\x1d\xed\xdd\xe2\rI)Px\xa1\x1d\xed\xb0\xfc', 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711221814, 8)}, acknowledged=True)

In [58]:
#Print students collection after deletions
print("All students after deletions:")
for student in students.find():
    print(student)

All students after deletions:
{'_id': ObjectId('65ff2c3517a1fc53f40ce767'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'honors'}
{'_id': ObjectId('65ff2c3517a1fc53f40ce76b'), 'name': 'Alex', 'age': 24, 'major': 'Chemistry', 'grade': 'B-', 'status': 'active'}

### Exercise 7: Verification

In [59]:
#2. Print list of databases in your MongoDB instance for verification purposes
print("Updated Databases:", client.list_database_names())

#3. Print list of collections in the database for verification purposes
print("Updated Collections:", db.list_collection_names())

Updated Databases: ['DS2002Final', 'ElijahKim_class', 'StoreProducts', '_class', 'anisha_class', 'api_project', 'blog', 'grace_class', 'jeremy_class', 'kaylasprincis_class', 'project', 'ronit_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'admin', 'local']
Updated Collections: ['students']