## Mongo Lab

---


This notebook demonstrates basic functionality of MongoDB by way of the **pymongo** library.  As it's name implies, pymongo is the MongoDB library for Python, and its **documentation** can be found here: https://pymongo.readthedocs.io/en/stable/index.html

### Prerequisites

#### First, you must install the *pymongo* libary into your *python* environment by executing the following command in a *Terminal window*
-  python -m pip install pymongo[srv]

In [71]:
!python -m pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

#### Next, as with all Jupyter Notebooks, you need to **Import** the libaries that you'll be working with in the notebook.

### Exercise 1: Connecting to MongoDB

In [72]:
#1. Import MongoClient from pymongo.
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [73]:
#2. Connect to your local MongoDB instance (or a specified URL if using a remote database)
host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

In [74]:
conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [75]:
#3. Print a list of databases in your MongoDB instance.
print("Databases:", client.list_database_names())

Databases: ['DS2002Final', 'ElijahKim_class', 'StoreProducts', '_class', 'anisha_class', 'api_project', 'blog', 'grace_class', 'project', 'ronit_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'admin', 'local']

### Exercise 2: Creating and Using a Database

In [76]:
#1. Create a database called <yourname>_class
db_name = "ronit_class"

db = client[db_name]

In [77]:
#2. Print a list of collections in the database.
print("Collections:", db.list_collection_names())

Collections: ['students']

### Exercise 3: Creating a Collection and Inserting Documents

In [78]:
#1. Create a collection named students.
students = db.students

#2. Insert a single document into the students collection. Let it have 5 key value pairs
students.insert_one({'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'active'})

#3. Insert multiple documents into the students collection in one operation.
students.insert_many([
    {'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'},
    {'name': 'Mike', 'age': 23, 'major': 'Physics', 'grade': 'A', 'status': 'graduated'}
])

InsertManyResult([ObjectId('65ff28ba765d035e2411a3bf'), ObjectId('65ff28ba765d035e2411a3c0')], acknowledged=True)

### Exercise 4: Querying Documents

In [79]:
#1. Perform a query to find all documents in the students collection.
print("All students:")
for student in students.find():
    print(student)

All students:
{'_id': ObjectId('65ff27d4765d035e2411a3ba'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A+', 'status': 'active'}
{'_id': ObjectId('65ff28ba765d035e2411a3be'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'active'}
{'_id': ObjectId('65ff28ba765d035e2411a3bf'), 'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'}
{'_id': ObjectId('65ff28ba765d035e2411a3c0'), 'name': 'Mike', 'age': 23, 'major': 'Physics', 'grade': 'A', 'status': 'graduated'}

In [80]:
#2. Perform a query to find a document in the students collection with a specific attribute, lake name = mary or something based on the key valu fapl
print("Students with name Mary:")
for student in students.find({'name': 'Mary'}):
    print(student)

Students with name Mary:
{'_id': ObjectId('65ff28ba765d035e2411a3bf'), 'name': 'Mary', 'age': 20, 'major': 'Mathematics', 'grade': 'B', 'status': 'active'}

### Exercise 5: Updating Documents

In [81]:
#1. Update a specific document in the students collection.
students.update_one({'name': 'John'}, {'$set': {'grade': 'A+'}})

#2. Update multiple documents based on a specific condition.
students.update_many({'grade': 'A'}, {'$set': {'status': 'honors'}})

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711220923, 19), 't': 391}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711220923, 20), 'signature': {'hash': b"\xf8^\x80\xb36\xb43\x9c\xf3I>\xce '\x87\x96K\x85\x92\x7f", 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711220923, 19), 'updatedExisting': True}, acknowledged=True)

### Exercise 6: Deleting Documents

In [82]:
#1. Delete a specific document from the students collection.
students.delete_one({'name': 'Mike'})

#2. Delete multiple documents based on a specific condition.
students.delete_many({'grade': 'B'})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff0000000000000187'), 'opTime': {'ts': Timestamp(1711220923, 30), 't': 391}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711220923, 30), 'signature': {'hash': b"\xf8^\x80\xb36\xb43\x9c\xf3I>\xce '\x87\x96K\x85\x92\x7f", 'keyId': 7305585258479484929}}, 'operationTime': Timestamp(1711220923, 30)}, acknowledged=True)

### Exercise 7: Verification

In [83]:
#1. Print updated students collection
print("Updated students collection:")
for student in students.find():
    print(student)

#2. Print updated list of databases in your MongoDB instance
print("Updated Databases:", client.list_database_names())

#3. Print updated list of collections in the database.
print("Updated Collections:", db.list_collection_names())

Updated students collection:
{'_id': ObjectId('65ff27d4765d035e2411a3ba'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A+', 'status': 'active'}
{'_id': ObjectId('65ff28ba765d035e2411a3be'), 'name': 'John', 'age': 22, 'major': 'Computer Science', 'grade': 'A', 'status': 'honors'}
Updated Databases: ['DS2002Final', 'ElijahKim_class', 'StoreProducts', '_class', 'anisha_class', 'api_project', 'blog', 'grace_class', 'project', 'ronit_class', 'sakila', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'sp_project2', 'admin', 'local']
Updated Collections: ['students']